div, section, h1, h2, h3, p, span, label {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: normal;
}


body {
  background-color: #fff;
}
.centerbody {
    max-width: 800px;
    margin: 0 auto;
}

.template {
  display: none;
}

.category {

}
.category + .category {
  margin-top: 10px;
}
.option {  
  border-radius: 5px;
}
.option label {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  cursor: pointer;
}
.option label .mask {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.option .mask {
  background-color: rgba(100, 100, 100, 0.5);
}
.option .mask:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
.option input:checked + .mask {
  background-color: rgba(100, 100, 100, 0.05);
}
.option input:checked + .mask:hover {
  background-color: rgba(0, 0, 0, 0);
}
.option label:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.option input {
  margin: 15px;
  height: 10px;
  padding: 0;
  float: left;
}
.option span {
  display: block;
  float: left;
  line-height: 20px;
}
.option span.description {
  font-size: 25px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
}
.option span.tagline {
  font-size: 12px;
  color: #222;
  margin-left: 7px;
  line-height: 20px;
  height: 20px;
  padding-top: 15px;
  vertical-align: text-bottom;
}

.buttons:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
button {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #dddddd;
  border: none;
  display: block;
  box-sizing: content-box;
  float: left;
  width: 31%;
  margin: 0 1%;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover {
  background-color: #aaaaaa;
}
.result {
    margin-top: 10px;
    background-color: #eee;
    padding: 10px;
    min-height: 120px;
    border-radius: 5px;
    position: relative;
}
.result h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.result p {
  font-size: 20px;
}
.result .flavor {
  margin-bottom: 15px;
  font-style: italic;
}
.result .effect {
  text-transform: lowercase;
  font-variant: small-caps;
}
.result .brutality {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.result .brutality.b1 {
  color: #080;
}
.result .brutality.b2 {
  color: #880;
}
.result .brutality.b3 {
  color: #d70;
}
.result .brutality.b4 {
  color: #e50;
}
.result .brutality.b5 {
  color: #f00;
}

.offscreen-canvas {
  position: absolute;
  top: -1000px;
  left: -1000px;
}