div, section, h1, h2, h3, p, span, label {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-weight: normal;
}
body {
  background-color: #fff;
}
.centerbody {
    max-width: 800px;
    margin: 0 auto;
}
.template {
  display: none;
}
.offscreen-canvas {
  position: absolute;
  top: -1000px;
  left: -1000px;
}