div, section, h1, h2, h3, p, span, label {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}


body {
  background-color: #fff;
}
h1 {
}
.centerbody {
    max-width: 800px;
    margin: 0 auto;
}

.template {
  display: none;
}

.category {

}
.category + .category {
  margin-top: 10px;
}
.option {  
  border-radius: 5px;
}
.option label {
  border-radius: 5px;
  height: 40px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  cursor: pointer;
}
.option label .mask {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.option .mask {
  background-color: rgba(100, 100, 100, 0.6);
}
.option .mask:hover {
  background-color: rgba(100, 100, 100, 0.3);
}
.option input:checked + .mask {
  background-color: rgba(100, 100, 100, 0.1);
}
.option input:checked + .mask:hover {
  background-color: rgba(0, 0, 0, 0);
}
.option label:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
.option input {
  margin: 15px;
  height: 10px;
  padding: 0;
  float: left;
}
.option span {
  display: block;
  float: left;
  line-height: 20px;
}
.option span.description {
  font-size: 25px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
}
.option span.tagline {
  font-size: 12px;
  color: #222;
  margin-left: 7px;
  line-height: 20px;
  height: 20px;
  padding-top: 15px;
  vertical-align: text-bottom;
}